.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.wrapperImage {
  transition: transform 0.4s;
  overflow: hidden;
  transform: scale3d(1, 1, 1);
  position: relative;
}

.wrapper .wrapperImage:hover {
  overflow: hidden;
  transform: scale3d(0.98, 0.98, 0.98);
}

.wrapper figure {
  overflow: hidden;
}

.image {
  width: 100%;
  backface-visibility: hidden;
  transition: all 3s;
  width: 100%;
  display: block;
  max-width: 100%;
}

.listContainer {
  width: 50%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-flow: row;
  padding-bottom: 100px;
}

.wrapper img:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}
