.navbarBackground {
  background: linear-gradient(to right, #f8a4d8, #6c63ff);
}

.shadow {
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.menu {
  position: absolute;
  right: 16px;
  top: 8px;
  cursor: pointer;
}

.menu img {
  height: 35px;
  width: 35px;
}

.navbarBrand {
  margin: 0 !important;
}

.logo {
  margin-right: 7px;
}

.mobileItemContainer {
  justify-content: flex-end;
  margin-left: auto;
  align-items: stretch;
  display: flex;
}

@media screen and (max-width: 550px) {
  .mobileItemContainer {
    display: none;
  }
}
